@font-face {
  font-family: 'Tinkoff Sans';
  src: url('assets/fonts/TinkoffSans-Bold.eot');
  src: local('Tinkoff Sans Bold'), local('TinkoffSans-Bold'),
  url('assets/fonts/TinkoffSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/TinkoffSans-Bold.woff2') format('woff2'),
  url('assets/fonts/TinkoffSans-Bold.woff') format('woff'),
  url('assets/fonts/TinkoffSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinkoff Sans';
  src: url('assets/fonts/TinkoffSans-Medium.eot');
  src: local('Tinkoff Sans Medium'), local('TinkoffSans-Medium'),
  url('assets/fonts/TinkoffSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/TinkoffSans-Medium.woff2') format('woff2'),
  url('assets/fonts/TinkoffSans-Medium.woff') format('woff'),
  url('assets/fonts/TinkoffSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinkoff Sans';
  src: url('assets/fonts/TinkoffSans-Regular.eot');
  src: local('Tinkoff Sans Regular'), local('TinkoffSans-Regular'),
  url('assets/fonts/TinkoffSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/TinkoffSans-Regular.woff2') format('woff2'),
  url('assets/fonts/TinkoffSans-Regular.woff') format('woff'),
  url('assets/fonts/TinkoffSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'JetBrains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}